@media (max-width: 425px){

  .container{
    padding:40px 20px;
  }

  body{
    font-size:1rem;
  }

  h2{
    font-size:1.75rem;
  }


  .headerContainer {
    padding: 0 20px;
  }

  header{
    padding: 30px 0;
    z-index:2;
  }

  #banner-about h1{
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px var(--background-color);
  }

  .subtitle-banner{
    font-size:1rem;
  }
  
  #banner-about a{
    font-size:1rem;
    padding: 18px;
  }


  /* VIDEO INFORMATIONS */

  .informations p{
    font-size:1rem;
  }
  

  /* NUMBERS */

  #numbers{
    padding: 40px 20px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;  
  }
  
  .count{
    font-size:2rem;
  }

  .description-count{
    font-size:.875rem;
  }

  /* PLANS */
 

  .plans-container{
    grid-template-columns: 300px;
  }


  .plans-title{
    margin-bottom:10px;
  }
  
  .plans-title h4{
    font-size:1.5rem;
  }
  
  .plans-title span{
    font-size:1.125rem;
  }
  
  .plans-price{
    font-size:4rem;
    margin-bottom:20px;  
  }
  
  .plans-price sup,
  .plans-price sub{
    font-size:1rem;
  }
  
  .online-plan{
    font-size:1rem;
    margin:20px 0;
  }

  .plans-info::before{
    margin-bottom:20px;
  }
  
  .plans-info > p{
    margin-bottom: 20px;
  }
  
  .plans-info .individual-plan{
    font-size:1rem;
  }
  
  .plans-info li{
    font-size:.875rem;
    padding: 6px 0;
  }
  

  .glide__slide p{
    font-size:1rem;
  }

  .glide-depoiment .glide__slides {
    margin-top: 40px;
}



/* CONTACT */

.contacts-options{
  grid-template-columns: minmax(220px, 380px);
}

.contact-midias,
.contact-form{
  padding:30px;
}


/* footer */

.footer-cols{
  gap:20px;
}



/* ARROW TOP */

.arrowTop.active{  
  bottom: 80px;
  width: 30px;
  height: 30px;
}
  
}