@media (max-width: 860px){
  /* GLOBAL */
  
  body{
    font-size:1.125rem;
  }

  h2{
    font-size:2.25rem;
    text-transform: uppercase;
    color:var(--primary-color);
    margin-bottom:20px;
  }
  
 h3{
    font-family:var(--text-font);
    font-size:.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  p{
    font-size:1rem;
  }

  /* BANNER */


  .container{
    padding:50px 50px;
  }


  /* BANNER HEADER */
  header{
    padding-top: 50px;
    padding-bottom: 50px;
    z-index:2;
  }

  .logotipo{
    display:inline-block;
  }

  header .mobileButton{
    display:none;
    background: transparent;
    color:var(--secondary-color);
    cursor: pointer;
    padding: 20px;
    border: none;
    outline:none;
    -webkit-tap-highlight-color: transparent; 
  }

  header .mobileButton::after{
    content:"";
    display:block;
    background: currentColor;
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    box-shadow:  0 10px currentColor,  0 -10px currentColor;
    transition: .5s ease-in-out;
    }


  header .mobileButton.active::after{
      transform: rotate(-90deg);
      width: 6px;
      height: 6px;
      }


  header .mobileButton:hover{
    color:var(--primary-color);
  } 

  
  header .menu-header{
   position:fixed;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top:0;
   left:-800px;
   background:var(--background-color);
   height: 100vh;
   width: 60vw;
   opacity:0;
   transition: .5s ease-in-out;
  }

  header .menu-header.active{
    left:0;
    opacity:1;
   }

   header .menu-header li{
    opacity: 0;
   }


   /* BANNER H1 */

  #banner-about{
    padding-bottom: 100px;
  }
  
  #banner-about h1{
    font-size: 2.875rem;
  }

  .subtitle-banner{
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--background-color);
  }


  #banner-about button{
    font-size:1.25rem;
    padding: 14px;
  }


  @keyframes linksMobile {
    from{
      opacity: 0;
      transform: translateX(-100%);
    }  to {
      opacity: 1;
      transform: translateX(0%);
    }
  }


  /* ANIMATED NUMBERS */

  #numbers{
    padding-bottom:40px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }
  
  .count{
    font-size:2.5rem;
    font-weight: 700;
  }


/* EVOLUTIONS */

.evolution-title{
  padding-top:40px;
  margin-bottom:40px;
}

.glide{
  margin-bottom: 40px;
}

.call-to-action a{
  font-size:1rem;
}
  

  /* PLANS */

  #plans{
    background-image: url('../../../assets/plansbgmob.png');
  }

  .plans-container{
    grid-template-columns: 380px;
    padding-top:40px;
  }

  .plans-options:last-of-type{
    grid-area: 1;
  }

  .plans-options:nth-of-type(2){
    grid-area: 2;
  }

  /* DEPOIMENTS */

  #depoiment{
    grid-template-columns: 100vw;
    gap: 20px;
  }

  #depoiment img{
    max-height: 400px;
  }

  .glide-depoiment{
   padding: 0 20px 50px;
  }
  


  /* CONTACT */

  .contacts-options{
    grid-template-columns: 1fr;
  }


  /* FOOTER */

  .footer-cols{
    grid-template-columns: minmax(220px, 600px);
    gap:40px;
    align-items:center;
    justify-content: center;
    text-align:center;
  }

  .logo-footer{
    margin: 0 auto;
  }

  footer h2{
    font-size:2.5rem;
    color:var(--text-color);
    text-align:center;
  }

  .bottom-nav{
    bottom:0;
    height: 60px;
  }

}