@media (max-width: 860px){
  /* GLOBAL */
  
  body{
    font-size:1.125rem;
  }

  h2{
    font-size:2.25rem;
    text-transform: uppercase;
    color:var(--primary-color);
    margin-bottom:20px;
  }
  
 h3{
    font-family:var(--text-font);
    font-size:.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  p{
    font-size:1rem;
  }

  /* BANNER */


  .container{
    padding:50px 50px;
  }


  /* BANNER HEADER */
  header{
    z-index:2;
  }

  header.active{
    position:absolute;
    background:none;
    box-shadow: none;
    animation: none;
  }

  .logotipo{
    display:inline-block;
  }
  
  header .menu-header{
   display:none;
  }


   /* BANNER H1 */

  #banner-about{
    padding-bottom: 160px;
  }
  
  #banner-about h1{
    font-size: 2.875rem;
  }

  .subtitle-banner{
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--background-color);
  }


  #banner-about a{
    font-size:1.25rem;
    padding: 14px;
  }


  @keyframes linksMobile {
    from{
      opacity: 0;
      transform: translateX(-100%);
    }  to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  #slide-thumb{
    bottom:120px;

  }


  /* ANIMATED NUMBERS */

  #numbers{
    padding-bottom:40px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }
  
  .count{
    font-size:2.5rem;
    font-weight: 700;
  }


/* EVOLUTIONS */

.evolution-title{
  padding-top:40px;
  margin-bottom:40px;
}

.glide{
  margin-bottom: 40px;
}

.call-to-action a{
  font-size:1rem;
}
  

  /* PLANS */

  #plans{
    background-image: url('../../../assets/plansbgmob.png');
  }

  .plans-container{
    grid-template-columns: 380px;
    padding-top:40px;
  }

  .plans-options:last-of-type{
    grid-area: 1;
  }

  .plans-options:nth-of-type(2){
    grid-area: 2;
  }

  /* DEPOIMENTS */

  #depoiment{
    grid-template-columns: 100vw;
    gap: 20px;
  }

  #depoiment img{
    max-height: 400px;
  }

  .glide-depoiment{
   padding: 0 20px 50px;
  }
  


  /* CONTACT */

  .contacts-options{
    grid-template-columns: 1fr;
  }


  /* FOOTER */

  .footer-cols{
    grid-template-columns: minmax(220px, 600px);
    gap:40px;
    align-items:center;
    justify-content: center;
    text-align:center;
  }

  .logo-footer{
    margin: 0 auto;
  }

  footer h2{
    font-size:2.5rem;
    color:var(--text-color);
    text-align:center;
  }

  .bottom-nav.active{
    bottom:0;
    height: 60px;
  }

}