/* HEADER */

#banner{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  min-height: 100vh;
  position:relative;
  overflow:hidden;
}


header{
  position:absolute;
  top:0;
  z-index: 1;
  padding: 30px 0;
  width: 100%;
}

header.active{
  position:fixed;
  background:var(--secondary-background);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,1);
  padding: 30px 0;
  animation: headerAnime .5s ease;
  z-index: 1000;
}

.headerContainer {
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap:20px;  
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

@keyframes headerAnime {
  0%{
    opacity:0;
    top: -10px;  
  } 50% {
    opacity: .5;
  }
  100%{
    opacity: 1;
    top:0;
  }
}

header .menu-header{
  display:flex;
  gap: 30px;
  justify-content: space-between;
}


header .menu-header a{
  color:var(--secondary-color);
  font-size:1.125rem;
  transition: .5s ease-in-out;
}

header .menu-header a:hover{
  color:var(--primary-color);
}

figure > figcaption {
  width: 0;
  height: 0;
}



/* BANNER ABOUT */
#banner-about{
  z-index: 1;
  pointer-events: none;
  text-align:center;
}


#banner-about h1{
  color:var(--primary-color);
  font-size: 4rem;
  font-family: var(--title-font);
  text-transform: uppercase;
}

.subtitle-banner{
  font-family: var(--text-font);
  font-size:1.25rem;
  font-weight: 500;
  color:var(--secondary-color);
}


#banner-about a{
  font-family: var(--text-font);
  font-size:1.5rem;
  text-transform: uppercase;
  color:var(--secondary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  pointer-events: initial;
  cursor:pointer;
  transition: .5s ease-in-out;
  display:inline-block;
}

#banner-about a:hover{
  background:var(--hover-color);
}




/* Slide */
#banner-slide{
  display:grid;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}


#slide-elements{
  display:grid;
  grid-area: 1/1;
  -webkit-touch-callout: none;
  pointer-events: none;
}

#slide-elements > figure{
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  background:#000;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible; 
}


#slide-controls{
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#slide-thumb{
  grid-area: 1/-1;
  display:flex;
  position: absolute;
  justify-content: center;
  bottom:60px;
  left:0;
  right:0;
}


#slide-thumb > span{
  height:14px;
  width: 14px;
  background:rgba(255, 255, 255, .5);
  margin:5px;
  border-radius: 50%;
  overflow:hidden;
  isolation: isolate;
  cursor:pointer;
}

#slide-thumb .thumb-item.active{
  display: block;
  height: inherit;
  background:var(--secondary-color);
  border-radius: 50%;
  transform: translate(-100%);
  animation: thumb forwards linear running;
}


@keyframes thumb {
  to{
    transform: initial;
  }
}
