*:root{
  --background-color: #131416;
  --secondary-background:#0C0C0C;
  --primary-color: #0074E8;
  --hover-color: #033EE1;
  --secondary-color: #FEFEFE;
  --title-font: 'Secular One', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}
