html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img{
  display:block;
  max-width: 100%;
}

figure img{
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
}

body{
  background: var(--background-color);
  font-family:var(--text-font);
  font-size:1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color:var(--secondary-color);
}

h2{
  font-family:var(--title-font);
  font-size:3.125rem;
  text-transform: uppercase;
  color:var(--primary-color);
  margin-bottom:20px;
  text-align:center;
}

h3{
  font-family:var(--text-font);
  font-size:1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align:center;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 50px;
}


.arrowTop{
  position:fixed;
  bottom: -150px;
  right: 20px;
  height: 0px;
  width: 0px;
  transition: all .5s;
}


.arrowTop.active{  
  bottom: 80px;
  width: 40px;
  height: 40px;
}



/* SCROLL ANIMA */

/* ANIMAÇÃO VINDO DE BAIXO */
.js [data-anima="showBottom"] {
    opacity: 0;
    transform: translate3d(0, 150px, 0);
    transition: .8s ease-in-out;  
  }

.js [data-anima="showBottom"].ativo.showBottom{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* ANIMAÇÃO VINDO DE CIMA */

.js [data-anima="showTop"] {
  opacity: 0;
  transform: translate3d(0, -150px, 0);
  transition: .8s ease-in-out;  
}

.js [data-anima="showTop"].ativo.showTop{
opacity: 1;
transform: translate3d(0, 0, 0);
}


/* ANIMAÇÃO VINDO DA ESQUERDA */

.js [data-anima="showLeft"] {
  opacity: 0;
  transform: translate3d(-150px, 0 , 0);
  transition: .8s ease-in-out;  
}

.js [data-anima="showLeft"].ativo.showLeft{
opacity: 1;
transform: translate3d(0, 0, 0);
}



/* ANIMAÇÃO OPACIDADE */

.js [data-anima="opac"] {
  opacity: 0;
  transition: 1s ease-in-out;  
}

.js [data-anima="opac"].ativo.opac{
  opacity: 1;
}