*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img{
  display:block;
  max-width: 100%;
}

figure img{
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
}

body{
  background: var(--background-color);
  font-family:var(--text-font);
  font-size:1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color:var(--secondary-color);
}

h2{
  font-family:var(--title-font);
  font-size:3.125rem;
  text-transform: uppercase;
  color:var(--primary-color);
  margin-bottom:20px;
  text-align:center;
}

h3{
  font-family:var(--text-font);
  font-size:1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align:center;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 50px;
}