/* PLANOS */

#plans{
  background-image: url('../../assets/bgplans4k.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 100px;
}

.title-plans-sections{
  padding:100px;
}

.plans-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 380px));
  gap:15px;
  margin: 0 15px;
  align-items: start;
  justify-content: center;
  padding-top:100px;
}

.plans-options{
  background-color: rgba(37, 37, 37, .98);
  box-shadow: 6px 0 5px rgba(0, 0, 0, .5);
  border-radius:4px;
  padding: 20px;
  position:relative;
}

.recommended{
  background:#0EC714;
  color:var(--secondary-color);
  font-family: var(--text-font);
  font-size:1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding:10px;
  border-radius:4px;
  position: absolute;
  top:-30px;
  right:-10px;
  animation: recommendedAnimation 2s ease-in-out 4s infinite;
}

@keyframes recommendedAnimation {
  from{
    opacity:0;
  } to {
    opacity:1;
  }
}

.plans-title{
  margin-bottom:20px;
  text-align: center;
}

.plans-title h4{
  font-family: var(--title-font);
  font-size:1.875rem;
}


.plans-title span{
  font-family: var(--text-font);
  font-size:1.25rem;
  font-weight: bold;
}

.plans-price{
  font-family: var(--title-font);
  font-size:5rem;
  color:var(--primary-color);
  display:block;
  margin-bottom:30px;  
  text-align: center;
}

.plans-price sup,
.plans-price sub{
  font-size:1.25rem;
}

.online-plan{
  font-size:1.5rem;
  display:block;
  margin:30px 0;
  text-align: center;
}

.plans-info::before{
  content: '';
  display:block;
  background-color: #959595;
  max-width: 100%;
  height: 2px;
  margin-bottom:30px;
  border-radius:4px;
  opacity:.2;
}

.plans-info > p{
  font-size:1rem;
  text-align: center;
  margin-bottom: 30px;
}

.plans-info .individual-plan{
  font-size:1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color:var(--primary-color);
}



.plans-info li{
  font-size:1rem;
  padding: 6px 0;
}

.plans-info li::before{
  content:"";
  display:inline-block;
  width: 5px;
  height: 5px;
  border-radius:50%;
  background-color: var(--primary-color);
  margin-right: 10px;
  position:relative;
  top: -2px;
}

.plans-info:hover li::before{
  background-color: #0EC714;
}

.plans-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-top:30px;
}


.plans-button span{
  font-size:1.125rem;
  text-align: center;
}

.plans-button a{
  background: #033EE1;
  color: var(--secondary-color);
  padding:16px;
  border-radius:4px;
  max-width: 258px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:1.125rem;
  transition: .5s ease-in-out;
  text-align: center;  
}

.plans-button a:hover{
  background:var(--primary-color);
}
