*:root{
  --background-color: #131416;
  --primary-color: #0074E8;
  --secondary-color: #FEFEFE;
  --title-font: 'Secular One', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img{
  display:block;
  max-width: 100%;
}

figure img{
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
}

body{
  background: var(--background-color);
  font-family:var(--text-font);
  font-size:1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color:var(--secondary-color);
}


/* HEADER */

#banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding:100px;
  position:relative;
  overflow:hidden;
}

header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  padding:30px 100px;
  z-index: 1;
}

header .mobileButton{
  display:none;
}

header .logotipo{
  flex:1;
}

header .menu-header{
  display:flex;
  gap: 30px;
  justify-content: space-between;
}


header .menu-header a{
  color:var(--secondary-color);
  font-size:1.5rem;
  transition: .5s ease-in-out;
}

header .menu-header a:hover{
  color:var(--primary-color);
  font-size:1.5rem;
}

figure > figcaption {
  width: 0;
  height: 0;
}



/* BANNER ABOUT */
#banner-about{
  z-index: 1;
  pointer-events: none;
  max-width: 50vw;
}


#banner-about h1{
  color:var(--primary-color);
  font-size: 2rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px var(--background-color);
}


#banner-about button{
  font-family: var(--title-font);
  font-size:1.5rem;
  text-transform: uppercase;
  color:var(--secondary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 14px;
  margin-top:30px;
  pointer-events: initial;
  cursor:pointer;
  border:none;
  outline:none;
  transition: .5s ease-in-out;
}

#banner-about button:hover{
  background:#033EE1;
}




/* Slide */
#banner-slide{
  display:grid;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}


#slide-elements{
  display:grid;
  grid-area: 1/1;
  -webkit-touch-callout: none;
  pointer-events: none;
}

#slide-elements > figure{
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  background:#000;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible; 
}


#slide-controls{
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#slide-thumb{
  grid-area: 1/-1;
  display:flex;
  position: absolute;
  justify-content: center;
  bottom:60px;
  left:0;
  right:0;
}


#slide-thumb > span{
  height:12px;
  width: 12px;
  background:rgba(255, 255, 255, .5);
  margin:5px;
  border-radius: 50%;
  overflow:hidden;
  isolation: isolate;
  cursor:pointer;
}

#slide-thumb .thumb-item.active{
  display: block;
  height: inherit;
  background:var(--secondary-color);
  border-radius: 50%;
  transform: translate(-100%);
  animation: thumb forwards linear running;
}


@keyframes thumb {
  to{
    transform: initial;
  }
}


/* NÚMEROS SECTION */

#numbers{
  padding:100px;
  opacity: 0;
  transition: .5s ease-in;
}

#numbers.active{
  opacity:1;
}

.numbers-grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
  text-align: center;
}

.numbers-grid div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.numbers-grid div.percentage-count{
  display:flex;
  flex-direction: row;
}


.count{
  font-family: var(--title-font);
  font-size:3.125rem;
  color:var(--primary-color);
  font-weight: 700;
}

/* PLANOS */


#plans{
  background-image: url('../../assets/bgplans4k.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 100px;
}

.title-plans-sections{
  padding:100px;
}

#plans h2{
  font-family:var(--title-font);
  font-size:3.125rem;
  text-transform: uppercase;
  color:var(--primary-color);
  margin-bottom:20px;
}

#plans h3{
  font-family:var(--text-font);
  font-size:1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.plans-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 380px));
  gap:15px;
  margin: 0 15px;
  align-items: start;
  justify-content: center;
  padding-top:100px;
}

.plans-options{
  background-color: rgba(37, 37, 37, .98);
  box-shadow: 6px 0 5px rgba(0, 0, 0, .5);
  border-radius:4px;
  padding: 20px;
  position:relative;
}

.recommended{
  background:#0EC714;
  color:var(--secondary-color);
  font-family: var(--text-font);
  font-size:1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding:10px;
  border-radius:4px;
  position: absolute;
  top:-30px;
  right:-10px;
  animation: recommendedAnimation 2s ease-in-out 4s infinite;
}

@keyframes recommendedAnimation {
  from{
    opacity:0;
  } to {
    opacity:1;
  }
}

.plans-title{
  margin-bottom:20px;
  text-align: center;
}

.plans-title h4{
  font-family: var(--title-font);
  font-size:1.875rem;
}


.plans-title span{
  font-family: var(--text-font);
  font-size:1.25rem;
  font-weight: bold;
}

.plans-price{
  font-family: var(--title-font);
  font-size:5rem;
  color:var(--primary-color);
  display:block;
  margin-bottom:30px;  
  text-align: center;
}

.plans-price sup,
.plans-price sub{
  font-size:1.25rem;
}

.online-plan{
  font-size:1.5rem;
  display:block;
  margin:30px 0;
  text-align: center;
}

.plans-info::before{
  content: '';
  display:block;
  background-color: #959595;
  max-width: 100%;
  height: 2px;
  margin-bottom:30px;
  border-radius:4px;
  opacity:.2;
}

.plans-info > p{
  font-size:1rem;
  text-align: center;
  margin-bottom: 30px;
}

.plans-info .individual-plan{
  font-size:1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color:var(--primary-color);
}



.plans-info li{
  font-size:1rem;
  padding: 6px 0;
}

.plans-info li::before{
  content:"";
  display:inline-block;
  width: 5px;
  height: 5px;
  border-radius:50%;
  background-color: var(--primary-color);
  margin-right: 10px;
  position:relative;
  top: -2px;
}

.plans-info:hover li::before{
  background-color: #0EC714;
}

.plans-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-top:30px;
}


.plans-button span{
  font-size:1.125rem;
  text-align: center;
}

.plans-button a{
  background: #033EE1;
  color: var(--secondary-color);
  padding:16px;
  border-radius:4px;
  max-width: 258px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:1.125rem;
  transition: .5s ease-in-out;
  text-align: center;  
}

.plans-button a:hover{
  background:var(--primary-color);
}



@media (max-width: 1800px){
  #plans{
    background-image: url('../../assets/bgplans2k.png');
  }
}


@media (max-width: 1450px){
  #plans{
    background-image: url('../../assets/bgplans1k.png');
    background-position: center;
  }

  .plans-options{
    padding:15px;
  }

  .plans-title{
    margin-bottom:10px;
  }
  
  .plans-title h4{
    font-size:1.5rem;
  }
  
  .plans-price{
    font-size:3.75rem;
    margin-bottom:20px;  
  }

  .online-plan{
    font-size:1rem;
  }
  
  .plans-info > p{
    margin-bottom: 20px;
  }
  
  .plans-info .individual-plan{
    font-size:1.125rem;
  }
  
  
  .plans-info li{
    font-size:.875rem;
    padding: 6px 0;
  }


}

@media (max-width: 1080px){
  #plans{
    background-image: url('../../assets/bgplans800.png');
  }
}

@media (max-width: 860px){
  body{
    font-size:1.125rem;
  }

  #banner{
    padding:40px;    
  }

  header{
    padding: 15px 40px;
    z-index:2;
  }

  header .mobileButton{
    display:block;
    background: transparent;
    color:var(--secondary-color);
    cursor: pointer;
    padding: 20px;
    border: none;
    outline:none;
    transition: .5s ease-in-out;
    -webkit-tap-highlight-color: transparent;      
  }


  header .mobileButton::after{
    content:"";
    display:block;
    background: currentColor;
    width: 30px;
    height: 2px;
    box-shadow:  0 10px currentColor,  0 -10px currentColor;
    transition: .5s ease-in-out;
    }


    header .mobileButton.active::after{
      transform: rotate(90deg);
      width: 6px;
      height: 6px;
      border-radius: 50px;
      }


  header .mobileButton:hover{
    color:var(--primary-color);
  } 

  
  header .menu-header{
   position:fixed;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top:0;
   left:-800px;
   background:var(--background-color);
   height: 100vh;
   width: 60vw;
   opacity:0;
   transition: .5s ease-in-out;
  }

  header .menu-header.active{
    left:0;
    opacity:1;
   }

   header .menu-header li{
    opacity: 0;
   }


  #banner-about{
    max-width:100%;
  }
  

  #banner-about button{
    font-size:1.25rem;
    padding: 14px;
  }


  @keyframes linksMobile {
    from{
      opacity: 0;
      transform: translateX(-100%);
    }  to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  #numbers{
    padding: 100px 40px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }
  
  .count{
    font-size:2.5rem;
    font-weight: 700;
  }


  #plans{
    background-image: url('../../assets/plansbgmob.png');
  }

  .title-plans-sections{
    padding: 40px;
  }
  
  #plans h2{
    font-size:2.25rem;
    text-transform: uppercase;
    color:var(--primary-color);
    margin-bottom:20px;
  }
  
  #plans h3{
    font-family:var(--text-font);
    font-size:.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }


  .plans-container{
    grid-template-columns: 380px;
    padding-top:40px;
  }


  .plans-options:last-of-type{
    grid-area: 1;
  }

  .plans-options:nth-of-type(2){
    grid-area: 2;
  }


}

@media (max-width: 425px){

  body{
    font-size:1rem;
  }

  #banner{
    padding:20px;
  }

  header{
    padding: 15px 20px;
    z-index:2;
  }

  #banner-about h1{
    font-size: 1.75rem;
    text-shadow: .4px .4px .6px var(--background-color);
  }
  
  #banner-about button{
    font-size:1rem;
    padding: 18px;
    margin-top:20px;
  }
  

  #numbers{
    padding:100px 20px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  
  }
  
  .count{
    font-size:2rem;
  }

  .description-count{
    font-size:.875rem;
  }


  .title-plans-sections{
    padding: 20px;
  }

  #plans h2{
    font-size:1.75rem;
  }

  .plans-container{
    grid-template-columns: 300px;
  }


  .plans-title{
    margin-bottom:10px;
  }
  
  .plans-title h4{
    font-size:1.5rem;
  }
  
  .plans-title span{
    font-size:1.125rem;
  }
  
  .plans-price{
    font-size:4rem;
    margin-bottom:20px;  
  }
  
  .plans-price sup,
  .plans-price sub{
    font-size:1rem;
  }
  
  .online-plan{
    font-size:1rem;
    margin:20px 0;
  }

  .plans-info::before{
    margin-bottom:20px;
  }
  
  .plans-info > p{
    margin-bottom: 20px;
  }
  
  .plans-info .individual-plan{
    font-size:1rem;
  }
  
  .plans-info li{
    font-size:.875rem;
    padding: 6px 0;
  }
  
  
}

@media (max-width:375px){
  #banner-about h1{
    font-size: 1.25rem;
  }

  #banner-about p{
    font-size: 0.875rem;
  }
}