*:root{
  --background-color: #131416;
  --primary-color: #0074E8;
  --secondary-color: #FEFEFE;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img{
  display:block;
  max-width: 100%;
}

figure img{
  min-height: 100vh;
  width: 100vw;
  object-fit: cover;
}

body{
  background: var(--background-color);
  font-family:'Montserrat', sans-serif;
  font-size:1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color:var(--secondary-color);
}


/* HEADER */

#banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding:100px;
  position:relative;
  overflow:hidden;
}

header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  padding:30px 100px;
  z-index: 1;
}

header .mobileButton{
  display:none;
}

header .menu-header{
  display:flex;
  gap: 30px;
  justify-content: space-between;
}


header .menu-header a{
  color:var(--secondary-color);
  font-size:1.5rem;
  transition: .5s ease-in-out;
}

header .menu-header a:hover{
  color:var(--primary-color);
  font-size:1.5rem;
}



/* BANNER ABOUT */
#banner-about{
  z-index: 1;
  pointer-events: none;
  max-width: 600px;
}


#banner-about h1{
  color:var(--primary-color);
  font-size: 3.75rem;
  font-family: 'Secular One', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px var(--background-color);
}

#banner-about button{
  font-family: 'Secular One', sans-serif;
  font-size:1.5rem;
  text-transform: uppercase;
  color:var(--secondary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 14px;
  margin-top:30px;
  pointer-events: initial;
  cursor:pointer;
  border:none;
  outline:none;
  transition: .5s ease-in-out;
}

#banner-about button:hover{
  background:#033EE1;
}




/* Slide */
#banner-slide{
  display:grid;
  position:absolute;
  top:0;
  left:0;
}


#slide-elements{
  display:grid;
  grid-area: 1/1;
  -webkit-touch-callout: none;
  pointer-events: none;
}

#slide-elements > figure{
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  background:#000;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible; 
}


#slide-controls{
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}




/* NÚMEROS SECTION */

#numbers{
  padding:100px;
}

.numbers-grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.numbers-grid div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.numbers-grid div.percentage-count{
  display:flex;
  flex-direction: row;
}


.count{
  font-family: 'Secular One', sans-serif;
  font-size:3.125rem;
  color:var(--primary-color);
  font-weight: 700;
}







@media (max-width: 768px){

  body{
    font-size:1.125rem;
  }

  #banner{
    padding:40px;    
  }

  header{
    padding: 15px 40px;
    z-index:2;
  }

  header .mobileButton{
    display:block;
    background: transparent;
    color:var(--secondary-color);
    cursor: pointer;
    padding: 20px;
    border: none;
    outline:none;
    transition: .5s ease-in-out;
    -webkit-tap-highlight-color: transparent;      
  }


  header .mobileButton::after{
    content:"";
    display:block;
    background: currentColor;
    width: 30px;
    height: 2px;
    box-shadow:  0 10px currentColor,  0 -10px currentColor;
    transition: .5s ease-in-out;
    }


    header .mobileButton.active::after{
      transform: rotate(90deg);
      width: 6px;
      height: 6px;
      border-radius: 50px;

      }


  header .mobileButton:hover{
    color:var(--primary-color);
  } 

  
  header .menu-header{
   position:fixed;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top:0;
   left:-800px;
   background:var(--background-color);
   height: 100vh;
   width: 60vw;
   opacity:0;
   transition: .5s ease-in-out;
  }

  header .menu-header.active{
    left:0;
    opacity:1;
   }

   header .menu-header li{
    opacity: 0;
   }


  #banner-about{
    max-width: 400px;
  }
  
  #banner-about h1{
    font-size: 2.625rem;
  }

  #banner-about button{
    font-size:1.25rem;
    padding: 14px;
  }


  @keyframes linksMobile {
    from{
      opacity: 0;
      transform: translateX(-100%);
    }  to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  #numbers{
    padding:40px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  
  .count{
    font-size:2.5rem;
    font-weight: 700;
  }


}





@media (max-width: 425px){

  body{
    font-size:1rem;
  }

  #banner{
    padding:20px;
  }

  #banner-about h1{
    font-size: 1.75rem;
  text-shadow: 1px 1px 2px var(--background-color);
  }
  
  #banner-about button{
    font-size:1rem;
    padding: 18px;
    margin-top:20px;
  }
  

  #numbers{
    padding:20px;
  }
  
  .numbers-grid{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  
  }
  
  .count{
    font-size:2rem;
  }

  .description-count{
    font-size:.875rem;
  }

}