
.informations {
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap:50px;
  justify-content: space-between;
  margin-top:100px;
}

.informations p{
  font-size:1.125rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-bottom:20px;
}

.video-iframe{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  position: relative;
}

.video-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .3);
}
